@import "./color";

footer {
        grid-row-start:4;
    grid-column-start: 1;
    grid-column-end: 5;

    
    
    p {
        color: $bt;
        position: center;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 12px;
        padding: 0%;
        margin: 0%;
    }
.email {
        display: flex;
        color: $bt;
        justify-content: center;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 12px;
        text-decoration: none;
        color: $bt;
}
   
   
}
    .social {
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap ;
        margin-bottom: 12px;
        padding: 10px;
    
}