body {
    display: grid;
    grid-template-columns : 1fr;
    grid-template-rows: .5 369px .5fr;
    background-color: $tc;
    min-height: 100vh;
    margin: 0%;
   
    

    
        .header {
            grid-row-start:1;
            grid-column-end: 1;
            color: $bt;
            position: center;
            text-align: center;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 24px;
            padding: 0%;
            margin: 0%;
            
        }
    }

    
    .picture {
        width: 100%;
        grid-row-start: 2 ;
        grid-column-start: 1;
        height: 100%;
            img {
                width: 100%;
            }
                  
    
    }
    
    
    .navbuttons {
        grid-row-start: 2;
        grid-column-start: 1;
        
        
        nav{
                                
            a {
                position: relative;
                grid-row-start: 2;
                grid-column-start: 1;
                height: fit-content;
                text-align: center;
                display: flex;
                flex-direction: column;            
                padding:12px;
                color: $bt;
                text-decoration: none;
                font-family: 'Roboto Condensed', sans-serif;
                align-items: center;
                justify-content: space-around;
                margin: 0%;

                &:hover {
                    background-color: rgba($pc,0.4)
                }
                }
            
          }
    } 

    @media screen and (min-width: 600px) {

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            
           

            .picture {
                
                display: flex;
                justify-content: center;
                padding: 0%;
                margin: 0%;
        
                    img {
                        width: 45%;   
                            
                    }
                }           

            .navbuttons {
                
                
                justify-content: center;
                    nav {
                        display: flex;
                    }

                
            }
            
    }
    }

    body :nth-child(1) { order: 1; }
    body :nth-child(2) { order: 3; }
    body :nth-child(3) { order: 2; }
    body :nth-child(4) { order: 4; }
    