

body {
    
    display: flex;
    flex-direction: column;    
    background-color: $tc;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0%;
   
    

    header {
        .header {
            color: $bt;
            
            text-align: center;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 24px;
            justify-content: flex-start;
            
            
        }
    }
  
    .navbuttons {
        display: flex;
        text-align: center;
        display: flex;
        color: $bt;
        font-family: 'Roboto Condensed', sans-serif;
        justify-content: space-around; 
        
        a {
            text-decoration: none;
            color: $bt;
            justify-content: space-around;
            
        }
        
    }
        
    }
    footer {
        justify-content: flex-end
    }
