@import "./defaults/color";

body {
    background-color: $sc;
    .background  {
        padding: 0%;
        margin: 0%;
        
    }

    .navbutton {
        display: flex;
        justify-content: flex-end center;
        align-items: flex-end ;
        flex-direction: column;
        justify-content: space-around;
        color: $pc;

    }

    .header {
        font-size: 24px;
        display: flex;
        color: white;
        justify-content: flex-end;
        align-items: flex-end;

    }
}




.footer {
    background: black;
    padding: 0%;
    margin: 0%;
    
    .name {
        color: white;
        background-color: black;
        position: center;
        text-align: center;
    }
    .mob{
        color: white;
        background-color: black;
        position: center;
        text-align: center;
    
    }
    .email {

        color: white;
        background-color: black;
        position: center;
        text-align: center;
}
.social {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap ;
    margin-bottom: 24px;
    
}

    
    
}