@import "./defaults/color";
@import "./defaults/footer";


body {
    display: grid;
    grid-template-columns : 1fr;
    grid-template-rows: 1fr;
    background-color: $tc;
   
    

    header {
        .header {
            grid-row-start: -2 ;
            grid-row-end: -1;
            
        }
    }
}
    
    img {
        width: 100%;
        grid-row-start: -1 ;
        grid-column-start: 1;
                  
    
    }
    
    
    .navbuttons {
        grid-row-start: -1;
        grid-column-start: 1;  
        
        nav{
            background-color: rgba($pc,0.4);                    
            a {
                height: 88.4px;
                text-align: center;
                display: flex;
                flex-direction: column;            
                padding:12px;
                color: $bt;
                text-decoration: none;
                font-family: 'Roboto Condensed', sans-serif;
                align-items: center;
                justify-content: space-around;
                margin: 0%;
                }
          }
    }  
    
                                   
        
       


          
            
            
                    
            
            

      

    .header {
        font-size: 24px;
        display: flex;
        color: $bt;
        justify-content: center;
        font-family: 'Roboto Condensed', sans-serif;
    }







    
    
