@import "../defaults/color";
@import "../defaults/headerother";
@import "../defaults/footer" ;


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img  {
        margin: 4px;
        border-radius: 50%;
        border: 3px $bt solid;

    

}

    .aboutme    {
        font-family: 'Roboto Condensed', sans-serif;
        color: $bt;
    }
}
}




@media screen and (min-width: 600px) {
    
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    img  {
        width: 45%;
        margin: 4px;
        border-radius: 50%;
        border: 3px $bt solid;
        
    
    }
    
    .aboutme    {
        font-family: 'Roboto Condensed', sans-serif;
        color: $bt;
        padding-left: 4px;
    }
}
}